.App {
  font-family: sans-serif;
  text-align: center;
}

.Navbar {
  background-color: dodgerblue;
}
.full-width {
  width: 100vw;
  margin: auto;
  font-weight: 400;
  background-color: #ff9494;
}
.Dash {
  margin: auto;
  margin-top: 10vh;
}

.wsList {
  display: flex;
  padding: 2rem;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.wsList > .card {
  padding: 2rem 1rem;
  margin: 1rem;
  border-radius: 5px;
  background-color: dodgerblue;
  color: white;
  text-transform: capitalize;
  flex-basis: 25%;
}
.workspaceHead {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: dodgerblue;
  margin-bottom: 5vh;
}

.taskList {
  max-width: 90vw;
  margin: auto;
}
.task {
  display: flex;
  border-top: 0.1rem solid lightgray;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
}
.task:last-child {
  border-bottom: 0.1rem solid lightgray;
}
.taskHead {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.taskContent {
  padding: 0.5rem;
}
.Workspace > .btn {
  margin-top: 20px;
}

.task > .icon_bar {
  position: absolute;
  right: 0;
  display: flex;
  padding: 1rem;
  margin-left: auto;
}
.icon_bar > span {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 50%;
}
.icon_bar > span:hover {
  background-color: dodgerblue;
  color: white;
}
